@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model jungletribe.Models.AddNewTravelViewModel


<div class="d-flex justify-content-center" style="width: 80%; margin: 0 auto;">
    <h2 class="mt-3" style="color: #ffac00;">Add new travel</h2>
</div>
<form method="post" runat="server" enctype="multipart/form-data">
<div class="d-flex justify-content-center" style="width: 80%; margin: 0 auto;">
 
<div class="">
        <div class="m-4">
            <label class="form-lable">Traveler Name</label>
            <input type="text" class="form-control" asp-for="Traveler" required/>
        </div>
        <div class="m-4">
            <label class="form-lable">Traveler Email</label>
            <input type="text" class="form-control" asp-for="TravelerEmail" required />
        </div>
            <div class="m-4">
            <label class="form-lable">Destinacion</label>
                <label class="form-lable">Continent</label>

                <select class="form-select" asp-for="TravelDestinacion" required>
                    <option value="Kabul">Afghanistan</option>
                    <option value="Mariehamn">Aland Islands</option>
                    <option value="Tirana">Albania</option>
                    <option value="Algiers">Algeria</option>
                    <option value="Pago Pago">American Samoa</option>
                    <option value="Andorra la Vella">Andorra</option>
                    <option value="Luanda">Angola</option>
                    <option value="The Valley">Anguilla</option>
                    <option value="Antarctica">Antarctica</option>
                    <option value="St. John's">Antigua and Barbuda</option>
                    <option value="Buenos Aires">Argentina</option>
                    <option value="Yerevan">Armenia</option>
                    <option value="Oranjestad">Aruba</option>
                    <option value="Canberra">Australia</option>
                    <option value="Vienna">Austria</option>
                    <option value="Baku">Azerbaijan</option>
                    <option value="Nassau">Bahamas</option>
                    <option value="Manama">Bahrain</option>
                    <option value="Dhaka">Bangladesh</option>
                    <option value="Bridgetown">Barbados</option>
                    <option value="Minsk">Belarus</option>
                    <option value="Brussels">Belgium</option>
                    <option value="Belmopan">Belize</option>
                    <option value="Porto-Novo">Benin</option>
                    <option value="Hamilton">Bermuda</option>
                    <option value="Thimphu">Bhutan</option>
                    <option value="Sucre">Bolivia</option>
                    <option value="Kralendijk">Bonaire, Sint Eustatius and Saba</option>
                    <option value="Sarajevo">Bosnia and Herzegovina</option>
                    <option value="Gaborone">Botswana</option>
                    <option value="Brasilia">Brazil</option>
                    <option value="Diego Garcia">British Indian Ocean Territory</option>
                    <option value="Bandar Seri Begawan">Brunei Darussalam</option>
                    <option value="Sofia">Bulgaria</option>
                    <option value="Ouagadougou">Burkina Faso</option>
                    <option value="Bujumbura">Burundi</option>
                    <option value="Phnom Penh">Cambodia</option>
                    <option value="Yaounde">Cameroon</option>
                    <option value="Ottawa">Canada</option>
                    <option value="Praia">Cape Verde</option>
                    <option value="George Town">Cayman Islands</option>
                    <option value="Bangui">Central African Republic</option>
                    <option value="N'Djamena">Chad</option>
                    <option value="Santiago">Chile</option>
                    <option value="Beijing">China</option>
                    <option value="Flying Fish Cove">Christmas Island</option>
                    <option value="West Island">Cocos (Keeling) Islands</option>
                    <option value="Bogota">Colombia</option>
                    <option value="Moroni">Comoros</option>
                    <option value="Brazzaville">Congo</option>
                    <option value="Kinshasa">Congo, Democratic Republic of the Congo</option>
                    <option value="Avarua">Cook Islands</option>
                    <option value="San Jose">Costa Rica</option>
                    <option value="Yamoussoukro">Cote D'Ivoire</option>
                    <option value="Zagreb">Croatia</option>
                    <option value="Havana">Cuba</option>
                    <option value="Willemstad">Curacao</option>
                    <option value="Nicosia">Cyprus</option>
                    <option value="Prague">Czech Republic</option>
                    <option value="Copenhagen">Denmark</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Roseau">Dominica</option>
                    <option value="Santo Domingo">Dominican Republic</option>
                    <option value="Quito">Ecuador</option>
                    <option value="Cairo">Egypt</option>
                    <option value="San Salvador">El Salvador</option>
                    <option value="Malabo">Equatorial Guinea</option>
                    <option value="Asmara">Eritrea</option>
                    <option value="Tallinn">Estonia</option>
                    <option value="Addis Ababa">Ethiopia</option>
                    <option value="Stanley">Falkland Islands (Malvinas)</option>
                    <option value="Torshavn">Faroe Islands</option>
                    <option value="Suva">Fiji</option>
                    <option value="Helsinki">Finland</option>
                    <option value="Paris">France</option>
                    <option value="Cayenne">French Guiana</option>
                    <option value="Papeete">French Polynesia</option>
                    <option value="Port-aux-Francais">French Southern Territories</option>
                    <option value="Libreville">Gabon</option>
                    <option value="Banjul">Gambia</option>
                    <option value="Tbilisi">Georgia</option>
                    <option value="Berlin">Germany</option>
                    <option value="Accra">Ghana</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Athens">Greece</option>
                    <option value="Nuuk">Greenland</option>
                    <option value="St. George's">Grenada</option>
                    <option value="Basse-Terre">Guadeloupe</option>
                    <option value="Hagatna">Guam</option>
                    <option value="Guatemala City">Guatemala</option>
                    <option value="St Peter Port">Guernsey</option>
                    <option value="Conakry">Guinea</option>
                    <option value="Bissau">Guinea-Bissau</option>
                    <option value="Georgetown">Guyana</option>
                    <option value="Port-au-Prince">Haiti</option>
                   
                    <option value="Vatican City">Holy See (Vatican City State)</option>
                    <option value="Tegucigalpa">Honduras</option>
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="Budapest">Hungary</option>
                    <option value="Reykjavik">Iceland</option>
                    <option value="New Delhi">India</option>
                    <option value="Jakarta">Indonesia</option>
                    <option value="Tehran">Iran, Islamic Republic of</option>
                    <option value="Baghdad">Iraq</option>
                    <option value="Dublin">Ireland</option>
                    <option value="Douglas, Isle of Man">Isle of Man</option>
                    <option value="Jerusalem">Israel</option>
                    <option value="Rome">Italy</option>
                    <option value="Kingston">Jamaica</option>
                    <option value="Tokyo">Japan</option>
                    <option value="Saint Helier">Jersey</option>
                    <option value="Amman">Jordan</option>
                    <option value="Astana">Kazakhstan</option>
                    <option value="Nairobi">Kenya</option>
                    <option value="Tarawa">Kiribati</option>
                    <option value="Pyongyang">Korea, Democratic People's Republic of</option>
                    <option value="Seoul">Korea, Republic of</option>
                    <option value="Pristina">Kosovo</option>
                    <option value="Kuwait City">Kuwait</option>
                    <option value="Bishkek">Kyrgyzstan</option>
                    <option value="Vientiane">Lao People's Democratic Republic</option>
                    <option value="Riga">Latvia</option>
                    <option value="Beirut">Lebanon</option>
                    <option value="Maseru">Lesotho</option>
                    <option value="Monrovia">Liberia</option>
                    <option value="Tripolis">Libyan Arab Jamahiriya</option>
                    <option value="Vaduz">Liechtenstein</option>
                    <option value="Vilnius">Lithuania</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Macao">Macao</option>
                    <option value="Skopje">Macedonia, the Former Yugoslav Republic of</option>
                    <option value="Antananarivo">Madagascar</option>
                    <option value="Lilongwe">Malawi</option>
                    <option value="Kuala Lumpur">Malaysia</option>
                    <option value="Male">Maldives</option>
                    <option value="Bamako">Mali</option>
                    <option value="Valletta">Malta</option>
                    <option value="Majuro">Marshall Islands</option>
                    <option value="Fort-de-France">Martinique</option>
                    <option value="Nouakchott">Mauritania</option>
                    <option value="Port Louis">Mauritius</option>
                    <option value="Mamoudzou">Mayotte</option>
                    <option value="Mexico City">Mexico</option>
                    <option value="Palikir">Micronesia, Federated States of</option>
                    <option value="Chisinau">Moldova, Republic of</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Ulan Bator">Mongolia</option>
                    <option value="Podgorica">Montenegro</option>
                    <option value="Plymouth">Montserrat</option>
                    <option value="Rabat">Morocco</option>
                    <option value="Maputo">Mozambique</option>
                    <option value="Nay Pyi Taw">Myanmar</option>
                    <option value="Windhoek">Namibia</option>
                    <option value="Yaren">Nauru</option>
                    <option value="Kathmandu">Nepal</option>
                    <option value="Amsterdam">Netherlands</option>
                    <option value="Willemstad">Netherlands Antilles</option>
                    <option value="Noumea">New Caledonia</option>
                    <option value="Wellington">New Zealand</option>
                    <option value="Managua">Nicaragua</option>
                    <option value="Niamey">Niger</option>
                    <option value="Abuja">Nigeria</option>
                    <option value="Alofi">Niue</option>
                    <option value="Kingston">Norfolk Island</option>
                    <option value="Saipan">Northern Mariana Islands</option>
                    <option value="Oslo">Norway</option>
                    <option value="Muscat">Oman</option>
                    <option value="Islamabad">Pakistan</option>
                    <option value="Melekeok">Palau</option>
                    <option value="East Jerusalem">Palestinian Territory, Occupied</option>
                    <option value="Panama City">Panama</option>
                    <option value="Port Moresby">Papua New Guinea</option>
                    <option value="Asuncion">Paraguay</option>
                    <option value="Lima">Peru</option>
                    <option value="Manila">Philippines</option>
                    <option value="Adamstown">Pitcairn</option>
                    <option value="Warsaw">Poland</option>
                    <option value="Lisbon">Portugal</option>
                    <option value="San Juan">Puerto Rico</option>
                    <option value="Doha">Qatar</option>
                    <option value="Saint-Denis">Reunion</option>
                    <option value="Bucharest">Romania</option>
                    <option value="Moscow">Russian Federation</option>
                    <option value="Kigali">Rwanda</option>
                    <option value="Gustavia">Saint Barthelemy</option>
                    <option value="Jamestown">Saint Helena</option>
                    <option value="Basseterre">Saint Kitts and Nevis</option>
                    <option value="Castries">Saint Lucia</option>
                    <option value="Marigot">Saint Martin</option>
                    <option value="Saint-Pierre">Saint Pierre and Miquelon</option>
                    <option value="Kingstown">Saint Vincent and the Grenadines</option>
                    <option value="Apia">Samoa</option>
                    <option value="San Marino">San Marino</option>
                    <option value="Sao Tome">Sao Tome and Principe</option>
                    <option value="Riyadh">Saudi Arabia</option>
                    <option value="Dakar">Senegal</option>
                    <option value="Belgrade">Serbia</option>
                    <option value="Victoria">Seychelles</option>
                    <option value="Freetown">Sierra Leone</option>
                    <option value="Singapur">Singapore</option>
                    <option value="Philipsburg">Sint Maarten</option>
                    <option value="Bratislava">Slovakia</option>
                    <option value="Ljubljana">Slovenia</option>
                    <option value="Honiara">Solomon Islands</option>
                    <option value="Mogadishu">Somalia</option>
                    <option value="Pretoria">South Africa</option>
                    <option value="Grytviken">South Georgia and the South Sandwich Islands</option>
                    <option value="Juba">South Sudan</option>
                    <option value="Madrid">Spain</option>
                    <option value="Colombo">Sri Lanka</option>
                    <option value="Khartoum">Sudan</option>
                    <option value="Paramaribo">Suriname</option>
                    <option value="Longyearbyen">Svalbard and Jan Mayen</option>
                    <option value="Mbabane">Swaziland</option>
                    <option value="Stockholm">Sweden</option>
                    <option value="Berne">Switzerland</option>
                    <option value="Damascus">Syrian Arab Republic</option>
                    <option value="Taipei">Taiwan, Province of China</option>
                    <option value="Dushanbe">Tajikistan</option>
                    <option value="Dodoma">Tanzania, United Republic of</option>
                    <option value="Bangkok">Thailand</option>
                    <option value="Dili">Timor-Leste</option>
                    <option value="Lome">Togo</option>
                    <option value="Nuku'alofa">Tonga</option>
                    <option value="Port of Spain">Trinidad and Tobago</option>
                    <option value="Tunis">Tunisia</option>
                    <option value="Ankara">Turkey</option>
                    <option value="Ashgabat">Turkmenistan</option>
                    <option value="Cockburn Town">Turks and Caicos Islands</option>
                    <option value="Funafuti">Tuvalu</option>
                    <option value="Kampala">Uganda</option>
                    <option value="Kiev">Ukraine</option>
                    <option value="Abu Dhabi">United Arab Emirates</option>
                    <option value="London">United Kingdom</option>
                    <option value="Washington">United States</option>
                    <option value="Montevideo">Uruguay</option>
                    <option value="Tashkent">Uzbekistan</option>
                    <option value="Port Vila">Vanuatu</option>
                    <option value="Caracas">Venezuela</option>
                    <option value="Hanoi">Viet Nam</option>
                    <option value="Road Town">Virgin Islands, British</option>
                    <option value="Charlotte Amalie">Virgin Islands, U.s.</option>
                    <option value="Mata Utu">Wallis and Futuna</option>
                    <option value="El-Aaiun">Western Sahara</option>
                    <option value="Sanaa">Yemen</option>
                    <option value="Lusaka">Zambia</option>
                    <option value="Harare">Zimbabwe</option>
                </select>
            </div>
       <div class="m-4">
            <label class="form-lable">Price</label>
            <input type="text" class="form-control" asp-for="TravelPrice" required />
       </div>
            <div class="m-4">
                <button type="submit" class="btn btn-primary">Save Travel</button>
            </div>
</div>
<div class="" >
        <div class="m-4">
            <label class="form-lable">Travel Start</label>
                <input asp-for="StartDate" type="date" class="form-control" id="start"  min="2024-01-01" max="2034-12-31" required />
        </div>
            <div class="m-4">
                <label class="form-lable">Travel End</label>
                <input asp-for="EndDate" type="date" class="form-control" id="end" min="2024-01-01" max="2034-12-31" required />
            </div>
            
        <div class="m-4">
            <label class="form-lable">Continent</label>
                <select class="form-select" asp-for="TravelContinent" required>
                <option value="">Select Continent</option>
                <option value="1">Asia</option>
                <option value="2">Africa</option>
                <option value="3">North America</option>
                <option value="4">South America</option>
                <option value="5">Antarctica</option>
                <option value="6">Europe</option>
                <option value="7">Australia </option>
            </select>
        </div>
        <div class="m-4">
                <label for="formFile" class="form-label">Travel Photo</label>
                <input asp-for="ProfileImage" class="form-control" type="file" id="formFile" required>
            </div>
           
 
        </div>
</div>
    </form>
</div>